<nav class="navbar" *ngIf="!isAdminPage()">
  <div class="left">
    <a routerLink="/" class="logo">Utility Billing</a>

    <a routerLink="/tariffs">Tariffs</a>
    <a *ngIf="!isLoggedIn()" routerLink="/consumer-request">Become Consumer</a>
    <a *ngIf="isLoggedIn() && getDashboardRoute()" [routerLink]="getDashboardRoute()">
      Dashboard
    </a>
  </div>

  <div class="right">
    <a routerLink="/login" *ngIf="!isLoggedIn()">Login</a>
    <button *ngIf="isLoggedIn()" (click)="logout()">Logout</button>
  </div>
</nav>